<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- xml 자체를 객체화 시키므로 코드 순서가 중요하지는 않다.  -->

	<!-- name으로 구분하므로 순서 상관 X -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/ssafyweb?serverTimezone=UTC&amp;useUniCode=yes&amp;characterEncoding=UTF-8"/>
		<property name="username" value="ssafy"/>
		<property name="password" value="ssafy"/>
	</bean>
	
	<!-- 순서 상관 O. index 설정할 수 있다 -->
<!-- 	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<constructor-arg value="com.mysql.cj.jdbc.Driver"/>
		<constructor-arg value="jdbc:mysql://127.0.0.1:3306/ssafyweb?serverTimezone=UTC&amp;useUniCode=yes&amp;characterEncoding=UTF-8"/>
		<constructor-arg value="ssafy"/>
		<constructor-arg value="ssafy"/>
	</bean> -->
	
	<bean id="dbUtil" class="com.ssafy.util.DBUtil"/>
	
	<bean id="boardDao" class="com.ssafy.board.model.dao.BoardDaoImpl">
		<constructor-arg ref="dataSource"/>
		<constructor-arg ref="dbUtil"/>
	</bean>
	
	<bean id="boardService" class="com.ssafy.board.model.service.BoardServiceImpl">
		<constructor-arg ref="boardDao"/>
	</bean>
	
	<bean id="boardController" class="com.ssafy.board.controller.BoardController">
		<constructor-arg ref="boardService"/>
	</bean>

</beans>
