<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>board1_servlet_CR_sol</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>com.ssafy.controller.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardViewServlet</display-name>
    <servlet-name>BoardViewServlet</servlet-name>
    <servlet-class>com.ssafy.controller.BoardViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardViewServlet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdate</display-name>
    <servlet-name>BoardUpdate</servlet-name>
    <servlet-class>com.ssafy.controller.BoardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdate</servlet-name>
    <url-pattern>/BoardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateServlet</display-name>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>com.ssafy.controller.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteServlet</display-name>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <servlet-class>com.ssafy.controller.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>